# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
*.ncb
*.sdf
*.ipch
*.user
*.tlog
*.obj
*.res
*.pdb
*.idb
*.log
*.lastbuildstate
*.cache

# Compiled Executables
*.exe